<footer>
<p>
  The AFR website is based on a Netlify template created by <a href="https://twitter.com/philhawksworth">Phil Hawksworth</a>. Find the repo on <a href=https://github.com/philhawksworth/eleventyone>Github</a>.
</p>
<p>
  This page was generated on {{ date | timestamp }}
</p>
</footer>
